body {
    background-image: url("https://img.freepik.com/premium-vector/seamless-pattern-hearts-pink_373887-1340.jpg?size=338&ext=jpg");
    background-size: cover;
}


.jumbotron {
    background: rgba(204, 204, 204, 0.5);
}



